# Variables

In [1]:
x= 2 #variables are case-sensitive
x

2

In [2]:
x= x+x  #reassignment of variables can be done in python
x

4

In [6]:
_var2= "john" #always remember naming rules
_var2

'john'

In [19]:

 """ Multi-line comment used print("Python Comments") """ # multi-line comment
print("hi")

hi

In [21]:
a=  """ Multi-line comment used print("Python Comments") """  #printing multi-line comment by assigning a variable
print(a)

 Multi-line comment used print("Python Comments")

In [24]:
x,y,z= "stefan","elena","damon" #multiple variables asssigning
print(x,y,z)

#print(y)
#print(z)

stefan elena damon

In [25]:
x=y=z="elena"
print(x,y,z)

elena elena elena

In [26]:
#global variables

# Datatypes- Integer, Float, Strings and None

In [27]:
x=1
y=1.2
z="1"
print(x)
print(y)
print(z)

1
1.2
1

In [31]:
type(z) #which checks datatype 

#print(type(z))

str

In [36]:
a= int(y) #typecasting to int
          #conversions--> (int to float and vice-versa), (string to int and vice-versa)
    
a

1

In [37]:
type(a)

int

In [3]:
a= float(input("enter a number: ")) #beaware of taking typecast as int because 
                                    #if input a float value and want int value,will give error
                                    #that's y always recommended to take float as typecast()
print(a)

enter a number: 2
2.0

In [40]:
var3= "6.0"
xx= float(var3)
xx

6.0

In [41]:
type(xx)

float

In [45]:
a= "this is a string"  #printing string , (immutable)
a

'this is a string'

In [56]:
my_string= "jihfshfoiuoa"
len(my_string)     #length of string

12

In [57]:
my_string1="simran  " #ACCEPTS WHITE SPACE
len(my_string1)

8

In [48]:
my_string[0:6]  #accessing string characters

'jihfsh'

In [49]:
my_string[:]

'jihfshfoiuoa'

In [51]:
my_string[0:6:2]

'jhs'

In [53]:
my_string[-12] #accessing reverse string character

'j'

In [55]:
my_string[::-3] #accessing reversing step characters

'aihh'

In [60]:
my_string="hi!\n I am Simran Chadda" #can also use \n or \t 
print(my_string)

hi!
 I am Simran Chadda

In [62]:
var1="simran"  #concatenation
var2="2"
result= var1+var2
print(result)

simran2

In [71]:
X= "hello world" #some in-built methods of strings (use tab to find more)
Z= X.upper()
print(Z)

HELLO WORLD

In [73]:
Z.split()

['HELLO', 'WORLD']

In [74]:
Z.split(",")

['HELLO WORLD']

In [77]:
Z.split("L") #check on this

['HE', '', 'O WOR', 'D']

In [75]:
Z.replace("H","P")

'PELLO WORLD'

In [79]:
d= " hi this is shit world speaking    " #strip() removes extra white spaces
d.strip()

'hi this is shit world speaking'

In [82]:
name= 'simran'      #formatting strings, because of indexing, it is not recommended
age=20
print(" hi this is {1} and my age is {0}".format(name,age))

 hi this is 20 and my age is simran

In [88]:
name="simran"        #f-strings, totally recommended
age=20
print(f"hi this is {name} and my age is {age}")

hi this is simran and my age is 20

In [3]:
list1= [1,"sim",2.5,True, None]  #none is also a datatype
type(list1[4])

NoneType

# DataStructures- Lists, Tuples, Dict, Sets, Bool

In [4]:
#how to create an empty list
list1= []
list1.extend([1,"sim",2.7]) #using extend(), we can write multiple values but then have to use list in that case with extend()
list1

[1, 'sim', 2.7]

In [7]:
list2= []  #will take only 1 argument and cant use list + append at same time as will create double list
list2.append("simran")
list2

['simran']

In [5]:
my_list= [1,"hi",2.3] #list is (ordered sequence),(mutable) and holds (variety of object types)
len(my_list)

3

In [6]:
my_list[0] #access characters as supports (indexing & slicing)

1

In [7]:
my_list[:2]

[1, 'hi']

In [8]:
my_list[-2]

'hi'

In [9]:
my_list=[1,3,4,"sim"] #mutability
my_list[0]= "hi"
my_list

['hi', 3, 4, 'sim']

In [10]:
my_list1= [1,"two",3.0] #concatenation and reassignment
my_list2= [4,5,6]
result= my_list1+ my_list2
result

[1, 'two', 3.0, 4, 5, 6]

In [11]:
my_list=["one","two","three","four"] #some bulit-in functions of list
my_list.append("five")
my_list

['one', 'two', 'three', 'four', 'five']

In [12]:
my_list.sort()

In [13]:
my_list

['five', 'four', 'one', 'three', 'two']

In [14]:
result= my_list.pop(1)
result

'four'

In [15]:
my_list

['five', 'one', 'three', 'two']

In [16]:
my_list1= my_list
my_list1

['five', 'one', 'three', 'two']

In [17]:
my_list1.reverse()
my_list1

['two', 'three', 'one', 'five']

In [27]:
list1= [1,2,3,3]
print(list1.count(3))

2

In [28]:
list1.insert(4,4) #insert method

In [29]:
list1

[1, 2, 3, 3, 4]

In [32]:
list1.remove(3)

In [33]:
list1

[1, 3, 4]

In [82]:
list_1=[1,2,3]  #nesting list
list_2=[4,5,6]
list_3=[7,8,9]

matrix= [list_1, list_2,list_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [83]:
matrix[0]

[1, 2, 3]

In [84]:
matrix[0][0]

1

In [22]:
#Enumeration in list- when want toprint indexes as well as values

list1= [10,20,24]

for i,j in enumerate(list1):
    print(i,j)

0 10
1 20
2 24

In [8]:
#tuples
a= (1)  #output is integer because tuples is recognised by commas(,)
type(a)

int

In [9]:
a= (1, )
type(a)

tuple

In [98]:
t= (1,2,3) #are similar to lists but are (immutable), (indexing and slicing or reverse), (any object types)
t

(1, 2, 3)

In [99]:
type(t) #cannot be reassigned

tuple

In [100]:
t1=(1,"sim",6.88)
t1[0:2]

(1, 'sim')

In [103]:
print(t.count(3))   #some bult-in methods of tuples

1

In [106]:
t.index(3) #finding index positions located in tuple

2

In [112]:
t2= ( 1,2, ("sim",1.7), (9.5,0.0), ("hello", (1,4)) ) #nesting of tuples
t2

(1, 2, ('sim', 1.7), (9.5, 0.0), ('hello', (1, 4)))

In [113]:
t2[2]

('sim', 1.7)

In [114]:
t2[4]

('hello', (1, 4))

In [115]:
t2[4][1]

(1, 4)

In [10]:
#converting list to tuple and vice-versa

list1=[1,2,"name"]
print(list1)
tup= tuple(list1)
print(tup)

[1, 2, 'name']
(1, 2, 'name')

In [117]:
set1= set() #creating an (empty set) collection of (unordered unique elements)
set1

set()

In [128]:
set1.add(1) #adding elements to an empty set
set1

{1, 2}

In [129]:
set1.add(2)
set1

{1, 2}

In [130]:
my_list=[1,1,1,2,3,4,5] #taking only unique elements
set(my_list)

{1, 2, 3, 4, 5}

In [134]:
a= 1>2 #bool
a

False

In [135]:
type(a)

bool

In [136]:
bool(1)

True

In [2]:
dict1= {'apple':20,'orange':67.9,'banana':1} #immutable, unordered mapping for storing objects
dict1['apple']

20

In [3]:
dict1['banana']#accessing values from dictionary

1

In [45]:
d2={}   #creating with empty dictionary

In [46]:
d2['key1']=100

In [47]:
d2['key2']=200

In [48]:
d2 #can also add new key:values to an existing dictionary

{'key1': 100, 'key2': 200}

In [49]:
d.keys() #some bulit-in methods of dictionary

dict_keys(['key1', 'key2', 'key3'])

In [50]:
d.values()

dict_values([20, ['a', 1, 2], {'insidekey': 19}])

In [51]:
d.items()

dict_items([('key1', 20), ('key2', ['a', 1, 2]), ('key3', {'insidekey': 19})])

In [52]:
d= {'key1':20, 'key2':['a',1,2], 'key3':{'insidekey':19} } #nesting of dict
d['key1']

20

In [53]:
d["key2"][2]

2

In [54]:
d["key3"].keys()

dict_keys(['insidekey'])

In [55]:
 d1= d["key2"][0].upper()
d1

'A'

In [60]:

print(d2['key1']-100) #py has built-in method of doing self add/sub.

0

In [24]:
#Enumeration in Dictionary

dict1= dict(enumerate(list1))
dict1

{0: 10, 1: 20, 2: 24}

In [ ]:
#list- mutable, ordered, [], mixed datatype, indexing & slicing, reassignmnet,duplication 
      #built-in methods- pop(), insert(), remove(), sort(), reverse(),append(),extend(),len(),index()
    #pop() - indexing/ default
    #empty list[] can be created by append()/extend()
     #can also be used with conditional stmts.
    
     #majorly used

In [ ]:
#tuples- immutable, ordered, (), mixed datatypes, indexing & slicing, no reassignment(modify krke then var m daalna)
        #no built-in methods like for adding or removing elements but has index(), count() methods
        #empty tuple() cannot be created
        
        #majorly used

In [ ]:
#sets-unordered(means no reassignment),mutable (as we can add, del elements),no duplication, no sequence(randomly stores value), unique, no indexing/slicing, mixed datatypes
    #built-in methods- add(),set() --> constructors, pop(), remove()
    #empty set() can be created by add()/ set() with using list...
    #del keyword used

In [ ]:
#dict-  unordered, key-value pair, mixed datatypes, mutable
        #built-in methods- keys(), values(), items(), pop()-->uses keyname to remove item, popitem()-> removes last item
        #empty dict{}- a={}
        #a['key']=value
        #del keyword to delete either whole or removes a keyname
        #can be used with conditinal stmts.

# Python Operators

In [63]:
#Arithmetic Operators

2+1

3

In [64]:
2/3

0.6666666666666666

In [66]:
4/2

2.0

In [67]:
2**2

4

In [69]:
#Assignment operators
a=1
a+=10
a

11

In [70]:
#comparison operators
2.0==2

True

In [71]:
1<2

True

In [72]:
2<1

False

In [73]:
#logical operators
'h'=='h'and 1==1

True

In [74]:
100==1 or 2==2

True

In [75]:
not(1==1)

False

In [76]:
#membership operators--> (in and not in)
x= 'geeks for geeks'
print('g' in x)

True

In [78]:
#special operators--> (is and is not)
a1=3
b1=3
a2='hi'
b2='hi'
print(a2 is not b2)

False

In [79]:
#bitwise
x=5   
y=3
print(x&y)

1

In [80]:
x=5
y=3
print(x|y)

7

# Conditional Statements

In [81]:
loc= 'bank'
if loc== 'autoshop': #note- no brackets used 
    print("cars are cool")
elif loc== 'bank':
    print("money is cool")
elif loc== 'store':
    print('welcome to store')
else:
    print("I dont know much!")  #else is always optional. Python can work with one if or if and elif statements also

money is cool

In [1]:
for i in range(10): #for loop and while loop can work directly with else 
    print(i)
else:
    print("out of loop")

0
1
2
3
4
5
6
7
8
9
out of loop

In [83]:
#for loop             for loop is used where we can iterate over sequence objects- strings, numbers, list, dict, tuples....

items=[1,2,2,4,5]
for i in items:
    print(i)

1
2
2
4
5

In [85]:
my_list=[(1,2),(3,4),(5,6)]
for i in my_list:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [86]:
for (a,b) in my_list: #tuple unpacking
    print (a)
    print(b)

1
2
3
4
5
6

In [87]:
d={1:'k1',2:'k2'}
d

{1: 'k1', 2: 'k2'}

In [88]:
for i in d:
    print(i)

1
2

In [90]:
for i in d.items():
    print(i)

(1, 'k1')
(2, 'k2')

In [92]:
for key, value in d.items(): #dict unpacking
    print(value)

k1
k2

In [97]:
#while loop       can also use break, continue when neccessary
x=0            
while x<5:
    print("value of x is ",x)
    x=x+1

value of x is  0
value of x is  1
value of x is  2
value of x is  3
value of x is  4

# Functions- User- Defined and Predefined (print, type,input, max,pow..)

In [2]:
#SIMPLE CALLING FUNCTIONS

def my_fun(): #function definition
    print("hello")
my_fun()    #calling function

hello

In [5]:
#with arguments

name= "simran"

def my_func(name):
    print("hi this is",name)
    
my_func(name)

hi this is simran

In [2]:
def name(book):
    print(book)
    
name('python')

python

In [4]:
#call by reference

c=[10,20,30]

def fun(d):
    print('value of d',d)
    d[0]=99
    d[1]=98
    print('new value of d',d)
    
fun(c)

value of d [10, 20, 30]
new value of d [99, 98, 30]

In [7]:
def my_func(name="simran"):   #with arguments using f-strings
    print(f"hi this is {name}")
my_func()

hi this is simran

In [12]:
#return statements- is used to exit function & go back to place from where it is called 
                    # Or to let function return a value
def my_fun(num1,num2):
    
    return num1+num2

result= my_fun(num1=10,num2=20)
print(result)

30

In [16]:
#global and local variables

x=25
def my_func():
    x=30
    return x

print(x)
print(my_func())
my_func() #print statement not used but will give output as it is jupyter

25
30

30

In [19]:
#nested functions
name= "global"

def greet():
    name="sam"
    
    def hello():
        print('hello'+name)
    hello()

greet()
print(name)

hellosam
global

In [20]:
name= "global"

def greet():
    
    
    def hello():
        print('hello'+name)
    hello()

greet()

helloglobal

In [21]:
name= "global"

def greet():
    print('sim')
    
    def hello():
        print('hello'+name)
    hello()

greet()

sim
helloglobal

In [22]:
x=50
def fun(x):
    print('x is',x)
    
    x=91
    print('local changed to ', x)

fun(x)
print(x)

x is 50
local changed to  91
50

In [27]:
x=50
def fun():
    
    global x
    x=91
   
    print('x is ', x)


print(x)
fun()

50
x is  91

In [28]:
x=50  #tricky
def fun():
    
   
    x=91
    return x
   
print('x is ', x)


x= fun()

print('after function call x is: ',x)

x is  50
after function call x is:  91

In [6]:
#lambda Expressions- only 1 statement can be used and 1 expression be used
#can be used with functions also

x= lambda a:a+9

print(x(1))

10

In [8]:
a= lambda x,y: x+y

print(a(2,1))

3

In [9]:
def fun(n):
    return lambda a:a*n

double= fun(2)
print(double(2))

4

In [29]:
#simple calculator

a= int(input("value of num1: "))
b= int(input("value of num2: "))

def myfun(a,b):
    add= a+b
    sub= a-b
    mul= a*b
    
    return add, sub, mul

add, sub, mul= myfun(a,b) #multiple values can be assigned

print("addition is: ",add)
print("subtraction is: ",sub)
print("multiplication is: ",mul)

value of num1: 4
value of num2: 3
addition is:  7
subtraction is:  1
multiplication is:  12

# Classes and Objects

In [11]:
#class- A blueprint from which specific objects are created (what is gonna happen and how it is created)
#object- Collection of data(variables) & methods(function) that act on those data

class Computer:
    def config(self):#invokes and is method which tells whether to take arg. or not
        print('is','8gb')
        
com1= Computer()
com1.config()

is 8gb

In [16]:
class Computer:
    
    def __init__(self,ram,HD):
        self.ram= ram
        self.HD= HD
        
    def config(self):
        print('config is',self.ram,self.HD)
        
com1= Computer('8gb','1tb')
com2= Computer('2gb','2tb')

com1.config()
com2.config()

config is 8gb 1tb
config is 2gb 2tb

In [19]:
class Robot:
     def __init__(self,name,color,weight):
        self.name= name
        self.color= color
        self.weight= weight
    
     def intro(self):
        print('weight is',self.weight)
        
r1= Robot('sim','blue','71')
r2= Robot('sim','green','70')

r1.intro()
r2.intro()

weight is 71
weight is 70

# Exception Handling

Syntax Error Or Exception

In [1]:
#syntax error- means syntactical error in a code

#Exception error- means logical error, not acceptable. If not timely corrected, then code might get crashed. 

                #So, to handle thiswe use exception handling

In [4]:
#syntax error

print(0/0))

SyntaxError: unmatched ')' (<ipython-input-4-065eb79a1b46>, line 3)

In [3]:
#exception

print(0/0)

ZeroDivisionError: division by zero

In [ ]:
#try....except---> CUSTOMISED

#try- means that you being not sure about code..you think that there can be some error in code so, you try that code

#except- means that if the code in try block has some errors it will go to an except block, and excpet block will catch 
        #and handle that error

try:
    
    a= int(input("value of N: "))
    b= int(input("value of D: "))

    ans= a/b
    print(ans)

except:
    print("Numerator cannot be divided by zero")

print("program ends")

In [6]:
#specific exception---> for multiple exception lines


try:
    
    a= int(input("value of N: "))
    b= int(input("value of D: "))

    ans= a/b
    print(ans)

except ZeroDivisonError:
    print("Numerator cannot be divided by zero")
    
except IndexError:   
     print("Index cannot be greater than the list")

print("program ends")

value of N: 10
value of D: 0

NameError: name 'ZeroDivisonError' is not defined

In [8]:
#try....except....else

#else- if except did not find any errors it means that code written in try block is fine so to process futher it will 
       #go into else block
    
    
try:
    
    a= int(input("value of N: "))
    b= int(input("value of D: "))

    ans= a/b
    print(ans)

except ZeroDivisonError:
    print("Numerator cannot be divided by zero")
    
    
else:
    print("code running successfully")
    
print("program ends")

value of N: 20
value of D: 10
2.0
code running successfully
program ends

In [9]:
#try....except....else....finally


#finally- always prints, no matters what. Moreover, its used for cleanup operation

try:
    
    a= int(input("value of N: "))
    b= int(input("value of D: "))

    ans= a/b
    print(ans)

except ZeroDivisonError:
    print("Numerator cannot be divided by zero")
    
    
else:
    print("code running successfully")
    
finally:
    print("program ends")

value of N: 20
value of D: 10
2.0
code running successfully
program ends

In [16]:
#assert exception- checks if condition is true

import sys
assert ('linux'in sys.platform),"this code runs in windows only"#--> otherwise output will be printed if cond. is False.

AssertionError: this code runs in windows only

In [19]:
#raise exception- allows to throw exception at any time

a= int(input("value of N: "))
if a>5:
    raise Exception('value should not exceed 5. The value of a was{}'.format(a))
else:
    print(a)

value of N: 2
2

# Files

OPERATIONS THAT YOU CAN PERFORM IN FILES

Creating a file (x)

Opening a file (open()) 

Reading a file (r)

Writing a file (w)

Appending a file (a)

Closing a file (close())

In [53]:
#Opening a file

z= open("random.txt","w+")
z

In [54]:
#Reading a file

z= open("random.txt","r")
z.close()   #closing a file

In [55]:
#writing a file

z= open("random.txt","w")
z.write("I love myself!")

14

In [56]:
#Again, opening a file for what you have written

z= open("random.txt","r")
print(z.read())  #for reading whole

I love myself!

In [57]:
z= open("random.txt","r")
print(z.read(5)) #for reading characters

I lov

In [58]:
#Appending a file

z= open("random.txt","a")
z.write(" I am a hero")

12

In [59]:
#Again, opening a file for what you have written in existing file

z= open("random.txt","r")
z.read()

#if you try to write again (w), then whatever you have written in existing file will get erased again...

'I love myself! I am a hero'

closing a file is must. so, you need to have a proper implication for that-

1. try...finally
2. with

In [60]:
try: #in try block, you can do anything read, write, append and using finally close that file
    
    
    z= open("random.txt","a")
    z.write(" I am a rockstar")
    z= open("random.txt","r")
    print(z.read())
    
finally:
    z.close()

I love myself! I am a hero I am a rockstar

In [61]:
with open("random.txt") as z: #here also, you can do read, write, append and then by default it will close that file
    
      data= z.read()

In [62]:
with open("random.txt","a") as z: #Then, you can go to file and automatically check it there
    z.write("I got my rock moves!")

Conversion from list to text and text to list is done below

In [63]:
#conversion of text to list

with open("random.txt") as z: 
    data= z.readlines() #it will read each word whatever is written in text file
    for line in data:
        word= line.split()
        print(word)

['I', 'love', 'myself!', 'I', 'am', 'a', 'hero', 'I', 'am', 'a', 'rockstarI', 'got', 'my', 'rock', 'moves!']

In [64]:
#conversion of list to text

with open("random.txt","a") as z: 
    list1=["heyy baby"]
    z.writelines(list1)

In [66]:
with open("random.txt","r") as z: 
    print(z.read())

I love myself! I am a hero I am a rockstarI got my rock moves!heyy baby